.boton {
	background-color: #008CBA; 
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	transition-duration: 0.4;
}
.boton:hover{
	background-color: #FFFF;
	border: none;
  	color: #008CBA;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	transition-duration: 0.4;
}
.boton1{
	background-color: #FFFF; 
  	border: none;
  	color: #008CBA;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	transition-duration: 0.4;
}
.boton1:hover{
	background-color: #008CBA;
	border: none;
  	color: #fff;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	transition-duration: 0.4;
}
.forgot-password-link{
	margin-right: 20px;
	margin-top: 10px;
}
.formgroup {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.formfile {
  font-family: inherit;
  text-align: center;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .formlabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.formlabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.formfile:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
/* reset input */
.formfile{
  &:required,&:invalid { box-shadow:none; }
}
.imgsrc{
	width: 30px;
	height: 30px;
}
.trstyle:hover{
	background-color: #008CBA;
}
.Editar:hover{
	color:purple;
}
.Delete:hover{
	color:#FF0000;
}